body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin: 0;
    padding: 1em;
    background-color: #dfcfbe;
}

section {
    margin-top: 1em;
}

#clearButton {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#questions {
    padding: 1em;
    background-color: burlywood;
}

sup {
    font-size: xx-small;
}

.textbox {
    height: 2em;
    width: 2em;
    margin: 0;
    padding: 0.1em;
    color: black;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.disabled {
    background-color: black;
}
